@media (min-width: 992px) {
  .howBlock:nth-of-type(2n) .howBlock__img_fullH {
    order: 2;
  }
  .howBlock:nth-of-type(2n) .howBlock__content {
    order: 1;
  }
  .howBlock__content {
    max-width: unset;
    width: 40%;
  }
  .howBlock__img_fullH {
    max-width: unset;
    width: 60%;
  }
  .objectionBlock_wrap {
    background: #fff;
    padding: 20px;
    -webkit-box-shadow: 0 6px 20px rgb(0 0 0 / 10%);
    box-shadow: 0 6px 20px rgb(0 0 0 / 10%);
  }
}
