.hero_splitScreen .hero__video{
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.background-beige{
    background: #ebf2ff !important;
}
.blockList_tickYellow{
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.objectionBlock__cardTxt{
    background: #fff;
}
.materials__name{
    width: 100%;
    background: #fff;
    box-shadow: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}