@charset "UTF-8";

.logoAccWrap img {
  max-width: 100%;
}
a {
  cursor: pointer;
}
*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

footer,
section {
  display: block;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

[tabindex="-1"]:focus:not(:focus-visible) {
  outline: 0 !important;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

ul {
  margin-bottom: 1rem;
}

ul {
  margin-top: 0;
}

b {
  font-weight: bolder;
}

sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #0056b3;
  text-decoration: underline;
}

a:not([href]):not([class]),
a:not([href]):not([class]):hover {
  color: inherit;
  text-decoration: none;
}

img {
  border-style: none;
}

img,
svg {
  vertical-align: middle;
}

svg {
  overflow: hidden;
}

button {
  border-radius: 0;
}

button:focus:not(:focus-visible) {
  outline: 0;
}

button {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  overflow: visible;
}

button {
  text-transform: none;
}

[type="button"],
[type="submit"],
button {
  -webkit-apearance: button;
}

[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
}

[type="button"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

*,
:after,
:before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.container,
.container-lg,
.container-md {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.no-gutters > .col,
.no-gutters > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}

.col,
.col-12,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-9,
.col-lg-10,
.col-md-5,
.col-md-6,
.col-md-7,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.col {
  -webkit-flex-basis: 0;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}

.row-cols-3 > * {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 33.3333333333%;
  -ms-flex: 0 0 33.3333333333%;
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%;
}

.col-12 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

.order-1 {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
}

.order-2 {
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
  -ms-flex-order: 2;
  order: 2;
}

.d-none {
  display: none !important;
}

.d-inline-block {
  display: inline-block !important;
}

.d-block {
  display: block !important;
}

.d-flex {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.justify-content-center {
  -webkit-box-pack: center !important;
  -webkit-justify-content: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
}

.align-items-center {
  -webkit-box-align: center !important;
  -webkit-align-items: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
}

.w-100 {
  width: 100% !important;
}

.h-auto {
  height: auto !important;
}

.m-0 {
  margin: 0 !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mr-1 {
  margin-right: 0.25rem !important;
}

.mt-2 {
  margin-top: 0.5rem !important;
}

.mr-2,
.mx-2 {
  margin-right: 0.5rem !important;
}

.mb-2 {
  margin-bottom: 0.5rem !important;
}

.mx-2 {
  margin-left: 0.5rem !important;
}

.m-3 {
  margin: 1rem !important;
}

.mt-3 {
  margin-top: 1rem !important;
}

.mx-3 {
  margin-right: 1rem !important;
}

.mb-3 {
  margin-bottom: 1rem !important;
}

.mx-3 {
  margin-left: 1rem !important;
}

.mt-4,
.my-4 {
  margin-top: 1.5rem !important;
}

.mb-4,
.my-4 {
  margin-bottom: 1.5rem !important;
}

.mt-5 {
  margin-top: 3rem !important;
}

.p-0 {
  padding: 0 !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.px-0 {
  padding-right: 0 !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.px-0 {
  padding-left: 0 !important;
}

.pt-1,
.py-1 {
  padding-top: 0.25rem !important;
}

.px-1 {
  padding-right: 0.25rem !important;
}

.pb-1,
.py-1 {
  padding-bottom: 0.25rem !important;
}

.px-1 {
  padding-left: 0.25rem !important;
}

.p-2 {
  padding: 0.5rem !important;
}

.pt-2,
.py-2 {
  padding-top: 0.5rem !important;
}

.pr-2,
.px-2 {
  padding-right: 0.5rem !important;
}

.pb-2,
.py-2 {
  padding-bottom: 0.5rem !important;
}

.px-2 {
  padding-left: 0.5rem !important;
}

.pt-3 {
  padding-top: 1rem !important;
}

.px-3 {
  padding-right: 1rem !important;
}

.pb-3 {
  padding-bottom: 1rem !important;
}

.pl-3,
.px-3 {
  padding-left: 1rem !important;
}

.pt-4,
.py-4 {
  padding-top: 1.5rem !important;
}

.px-4 {
  padding-right: 1.5rem !important;
}

.py-4 {
  padding-bottom: 1.5rem !important;
}

.px-4 {
  padding-left: 1.5rem !important;
}

.mt-n2 {
  margin-top: -0.5rem !important;
}

.mt-n3 {
  margin-top: -1rem !important;
}

.mt-n4 {
  margin-top: -1.5rem !important;
}

.mx-auto {
  margin-right: auto !important;
}

.mx-auto {
  margin-left: auto !important;
}

@font-face {
  font-family: window;
  src: url("../fonts/window.eot");
  src: url("../fonts/window.eot") format("embedded-opentype"),
    url("../fonts/window.woff2") format("woff2"),
    url("../fonts/window.woff") format("woff"),
    url("../fonts/window.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

[class*=" window-"]:before,
[class^="window-"]:before {
  font-family: window;
  font-style: normal;
  font-weight: 400;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.window-star:before {
  content: "";
}

.window-ok:before {
  content: "";
}

.window-left-open:before {
  content: "";
}

.window-right-small:before {
  content: "";
}

.fs-16 {
  font-size: 16px !important;
}

.fs-18 {
  font-size: 18px !important;
}

.fs-36 {
  font-size: 36px !important;
}

.font-italic {
  font-style: italic !important;
}

.shadowAndBorder {
  border: 5px solid #f9f9f9 !important;
  -webkit-box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1) !important;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1) !important;
}

.shadow {
  -webkit-box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}

.overflow-hidden {
  overflow: hidden !important;
}

.position-relative {
  position: relative !important;
}

.column-count-2 {
  -webkit-column-count: 2 !important;
  -moz-column-count: 2 !important;
  column-count: 2 !important;
}

.font-weight-bold {
  font-weight: 700 !important;
}

.font-weight-normal {
  font-weight: 400 !important;
}

.lh-3 {
  line-height: 1.3 !important;
}

.text-capitalize {
  text-transform: capitalize !important;
}

.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.text-nowrap {
  white-space: nowrap !important;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
}

.overlay_navi {
  background: -webkit-gradient(
    linear,
    left bottom,
    right top,
    from(#27304b),
    to(#364264)
  );
  background: linear-gradient(to right top, #27304b, #364264);
  opacity: 0.84;
}

.separator {
  width: 100%;
  height: 1px;
}

.separator_onDark {
  background: #444;
}

.loadLazy {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.font-family-oswald {
  font-family: Montserrat, sans-serif !important;
}

@font-face {
  font-family: slick;
  src: url(/build/fonts/slick.a4e97f5a.eot);
  src: url(/build/fonts/slick.a4e97f5a.eot) format("embedded-opentype"),
    url(/build/fonts/slick.29518378.woff) format("woff"),
    url(/build/fonts/slick.c94f7671.ttf) format("truetype"),
    url(../img/slick.2630a3e3.svg) format("svg");
  font-weight: 400;
  font-style: normal;
}

body,
html {
  height: 100%;
  width: 100%;
}

body {
  min-width: 320px;
  position: relative;
  line-height: 1.5;
  font-family: Montserrat, sans-serif;
  font-size: 17px;
  color: #383738;
  overflow-x: hidden;
}

::-ms-clear {
  display: none;
}

a:focus,
button:focus {
  outline: none;
}

p {
  margin: 0;
}

b {
  font-weight: 700;
}

.list-unstyled {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.header {
  z-index: 1000;
  padding: 20px 0;
  text-align: center;
  background: #fff;
}

.header,
.header__wrap {
  position: relative;
}

.header__logo {
  display: block;
  width: 100%;
  height: auto;
  max-width: 155px;
}

.header__link {
  display: inline-block;
  vertical-align: middle;
  line-height: 0;
}

.footer {
  position: relative;
  font-size: 14px;
  color: hsla(0, 0%, 85.5%, 0.7);
  background: #22222e;
  padding: 20px 0;
}

.footer__menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  list-style: none;
  margin-bottom: 0;
  margin-left: 0;
  padding-left: 0;
}

.footer__item {
  position: relative;
  padding: 0 15px;
}

.footer__item:after {
  content: "";
  position: absolute;
  top: 57%;
  right: -1px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 2px;
  height: 70%;
  background: hsla(0, 0%, 85.5%, 0.3);
}

.footer__item:last-child {
  padding: 0 0 0 15px;
}

.footer__item:last-child:after {
  display: none;
}

.footer__link {
  color: hsla(0, 0%, 85.5%, 0.7);
  text-decoration: none;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.footer__link:hover {
  text-decoration: none;
  color: #dadada;
  border-bottom: 1px solid hsla(0, 0%, 85.5%, 0.7);
}

.header__logo_madcity {
  max-width: 180px;
}

.color-red {
  color: #dc3545 !important;
}

.background-lightBlue {
  background-color: #eef2f9 !important;
}

.background-lightGrey {
  background-color: #d0d0d0 !important;
}

.background-darkGrey {
  background-color: #22222e !important;
}

.background-markedBlue {
  background-color: #e6effb !important;
}

.background-beige {
  background-color: #f3efe9 !important;
}

.marked_underlined {
  position: relative;
}

.marked_underlined-yellow:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background-color: #fadba0;
  z-index: -1;
}

.btn {
  display: inline-block;
  margin: 0 auto;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  text-align: center;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  outline: none;
  border: none;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  min-width: 160px;
}

.btn:hover {
  text-decoration: none;
  border-bottom: none;
}

.btn:focus {
  outline: none;
}

.btn i {
  display: inline-block;
  position: relative;
  margin-right: -6px;
  font-size: 1em;
}

.btn_orange-gradient {
  position: relative;
  padding: 14px 32px;
  border-radius: 2px;
  overflow: hidden;
  -webkit-box-shadow: 0 4px 12px rgba(255, 183, 77, 0.5);
  box-shadow: 0 4px 12px rgba(255, 183, 77, 0.5);
}

.btn_orange-gradient,
.btn_orange-gradient:hover {
  color: #3f3214 !important;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#ffb74d),
    to(#f7b14a)
  );
  background: linear-gradient(90deg, #ffb74d, #f7b14a);
}

.btn_orange-gradient:active,
.btn_orange-gradient:hover {
  -webkit-box-shadow: 0 3px 15px rgba(255, 183, 77, 0.3);
  box-shadow: 0 3px 15px rgba(255, 183, 77, 0.3);
}

.btnScroll .btn_orange-gradient {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn_effect-blick:after {
  content: "";
  position: absolute;
  top: -30px;
  left: -75px;
  z-index: -10;
  height: 120px;
  width: 40px;
  background: #fff;
  opacity: 0.15;
  -webkit-transform: rotate(35deg) translateZ(0);
  transform: rotate(35deg) translateZ(0);
}

.btn_effect-blick:after,
.btn_effect-blick:hover:after {
  -webkit-transition: all 1.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 1.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.btn_effect-blick:hover:after {
  left: 120%;
}

.btn_effect-scale {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.btn_effect-scale:active {
  -webkit-transform: scale(0.95);
  transform: scale(0.95);
}

.inputBlock_type1-orange input:-internal-autofill-selected {
  background-color: #fffbf2 !important;
}

.inputBlock_type1-green input:-internal-autofill-selected {
  background-color: #fdfff4 !important;
}

.inputBlock_type1-yellow input:-internal-autofill-selected {
  background-color: #fffbf2 !important;
}

.inputBlock_type1-darkOrange input:-internal-autofill-selected {
  background-color: #fffbf2 !important;
}

.inputBlock_type1-blue input:-internal-autofill-selected {
  background-color: #f9fdff !important;
}

.inputBlock_type1-greyBlue input:-internal-autofill-selected {
  background-color: #eff9ff !important;
}

.inputBlock_type1-vistaBlue input:-internal-autofill-selected {
  background-color: #fdfff4 !important;
}

::-webkit-input-placeholder {
  color: #757575;
}

:-moz-placeholder,
::-moz-placeholder {
  color: #757575;
}

:-ms-input-placeholder {
  color: #757575;
}

.radio__input:hover:not(:checked) ~ .radio__label:before {
  border-color: rgba(50, 171, 27, 0.25);
}

.radio__input:not(:disabled):active ~ .radio__label:before {
  color: #fff;
  background-color: rgba(50, 171, 27, 0.25);
  border-color: rgba(50, 171, 27, 0.25);
}

.closeAnim {
  position: absolute;
  right: 2vw;
  top: 2vw;
  z-index: 994;
  width: 22px;
  height: 22px;
  opacity: 0;
  -webkit-transition: 0.55s;
  transition: 0.55s;
  cursor: pointer;
}

.closeAnim span:after,
.closeAnim span:before {
  content: "";
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  width: 100%;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 0;
  background-color: #a7a7a7;
  margin-top: -1px;
  -webkit-transition: 0.45s cubic-bezier(0.7, 0.3, 0, 1);
  transition: 0.45s cubic-bezier(0.7, 0.3, 0, 1);
}

.closeAnim span:before {
  -webkit-transform: rotate(45deg) translateZ(0) scale(1);
  transform: rotate(45deg) translateZ(0) scale(1);
}

.closeAnim span:after {
  -webkit-transform: rotate(-45deg) translateZ(0) scale(1);
  transform: rotate(-45deg) translateZ(0) scale(1);
}

.closeAnim span:nth-child(2):after,
.closeAnim span:nth-child(2):before {
  background-color: rgba(33, 33, 33, 0);
}

.closeAnim span:nth-child(2):after {
  -webkit-transform: rotate(-45deg) translate3d(10px, 0, 0) translateZ(0)
    scale(1);
  transform: rotate(-45deg) translate3d(10px, 0, 0) translateZ(0) scale(1);
}

.closeAnim span:nth-child(2):before {
  -webkit-transform: rotate(45deg) translate3d(-10px, 0, 0) translateZ(0)
    scale(1);
  transform: rotate(45deg) translate3d(-10px, 0, 0) translateZ(0) scale(1);
}

.closeAnim:hover span:first-child:after,
.closeAnim:hover span:first-child:before {
  background-color: hsla(0, 0%, 65.5%, 0);
}

.closeAnim:hover span:first-child:after {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
  -webkit-transform: rotate(-45deg) translate3d(-10px, 0, 0) translateZ(0)
    scale(1);
  transform: rotate(-45deg) translate3d(-10px, 0, 0) translateZ(0) scale(1);
}

.closeAnim:hover span:first-child:before {
  -webkit-transform: rotate(45deg) translate3d(10px, 0, 0) translateZ(0)
    scale(1);
  transform: rotate(45deg) translate3d(10px, 0, 0) translateZ(0) scale(1);
}

.closeAnim:hover span:nth-child(2):after,
.closeAnim:hover span:nth-child(2):before {
  background-color: #456cc6;
}

.closeAnim:hover span:nth-child(2):before {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
  -webkit-transform: rotate(45deg) translateZ(0);
  transform: rotate(45deg) translateZ(0);
}

.closeAnim:hover span:nth-child(2):after {
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
  -webkit-transform: rotate(-45deg) translateZ(0);
  transform: rotate(-45deg) translateZ(0);
}

.btnScroll {
  position: fixed;
  width: 100%;
  z-index: 1001;
  bottom: 0;
  padding: 8px;
  background: rgba(40, 40, 40, 0.85);
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  -webkit-box-shadow: 0 -3px 12px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 -3px 12px 0 rgba(0, 0, 0, 0.2);
}

.btnScroll .btn {
  padding: 10px 32px;
  min-width: 200px;
}

.btnScroll .btn i {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.inboundPhone .blockTitle__hdr {
  font-size: 30px;
}

.inboundPhone__logo {
  max-width: 130px;
}

.inboundPhone__link {
  display: inline-block;
  color: #386293;
  position: relative;
  font-size: 19px;
}

.inboundPhone__link:hover {
  text-decoration: none;
  color: #386293;
}

.inboundPhone__link:hover:after {
  -webkit-animation: lineAnimIn 0.25s forwards;
  animation: lineAnimIn 0.25s forwards;
}

.inboundPhone__link:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: #386293;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  -webkit-animation: lineAnimOut 0.25s forwards;
  animation: lineAnimOut 0.25s forwards;
}

@-webkit-keyframes lineAnimIn {
  0% {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes lineAnimIn {
  0% {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@-webkit-keyframes lineAnimOut {
  0% {
    width: 100%;
  }
  to {
    width: 0;
  }
}

@keyframes lineAnimOut {
  0% {
    width: 100%;
  }
  to {
    width: 0;
  }
}

.inboundPhone__link svg {
  width: 22px;
}

.inboundPhone__link svg path {
  fill: #386293;
}

.inboundPhone__bg {
  width: 80%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-transform: skewX(10deg);
  transform: skewX(10deg);
}

.inboundPhone__img {
  display: block;
  position: relative;
  height: 100%;
  width: 278px;
  max-width: 100%;
}

.expandIcon {
  position: relative;
  cursor: pointer;
  width: 100%;
  display: block;
}

.expandIcon img {
  width: 100%;
}

.expandIcon:hover:after {
  opacity: 0.6;
}

.expandIcon:hover:before {
  -webkit-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

.expandIcon:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0b3251;
  opacity: 0;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

.expandIcon:before {
  content: "";
  position: absolute;
  z-index: 1000;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
  transform: translate(-50%, -50%) scale(0);
  font-family: window;
  font-size: 20px;
  color: #fff;
  opacity: 0;
  -webkit-transition: opacity 0.2s linear, -webkit-transform 0.2s linear;
  transition: opacity 0.2s linear, -webkit-transform 0.2s linear;
  transition: opacity 0.2s linear, transform 0.2s linear;
  transition: opacity 0.2s linear, transform 0.2s linear,
    -webkit-transform 0.2s linear;
}

.blockVideo {
  display: block;
  position: relative;
  height: auto;
  width: 100%;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.blockVideo video::-webkit-media-controls-fullscreen-button {
  display: none;
}

.blockVideo__video {
  display: block;
  width: 100%;
  height: auto;
  outline: none;
}

.blockList {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}

.blockList__item {
  position: relative;
  padding-left: 28px;
  margin-bottom: 10px;
  line-height: 1.4;
}

.blockList__item:before {
  content: "";
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  background: url(../img/icon-check.74497c19.svg) no-repeat;
  background-size: cover;
}

.blockList_benefits {
  padding-left: 0;
  -webkit-padding-start: 0;
  padding-inline-start: 0;
}

.blockList_benefits .blockList__item {
  padding-left: 25px;
}

.blockList_benefits .blockList__item:before {
  font-family: window;
  content: "";
  color: #30a31a;
  position: absolute;
  top: 0;
  left: 0;
  line-height: 1.3;
  background: none;
}

.blockList_tickYellow {
  background-color: #fff;
  border-radius: 10px;
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;
}

.blockList_tickYellow .blockList__item {
  padding: 6px 0 6px 25px;
}

.blockList_tickYellow .blockList__item:before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;
  width: 18px;
  height: 18px;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='18' height='15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.767 15a.374.374 0 01-.274-.12L.099 6.882a.373.373 0 01.274-.627h3.56a.374.374 0 01.281.129l2.47 2.843c.268-.571.785-1.522 1.692-2.68 1.341-1.712 3.835-4.23 8.103-6.503a.373.373 0 01.405.624c-.016.013-1.661 1.308-3.555 3.682-1.743 2.184-4.06 5.755-5.2 10.366a.373.373 0 01-.362.284z' fill='%23FC6'/%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
}

.blockSource {
  position: relative;
  list-style: none;
  padding-left: 0;
}

.blockSource__item {
  font-size: 14px;
  line-height: 1.4;
  margin-bottom: 5px;
  padding-left: 0;
}

.blockSource_onDark .blockSource__item {
  color: hsla(0, 0%, 85.5%, 0.7);
}

.blockTitle {
  position: relative;
  z-index: 9;
}

.blockTitle__hdr {
  font-family: Montserrat, sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.3;
}

.blockTitle__txt {
  font-size: 17px;
  line-height: 1.5;
}

.blockTitleWithBg {
  position: relative;
  display: inline-block;
  width: 100%;
}

.blockTitleWithBg .overlay {
  display: none;
}

.blockTitleWithBg .blockTitle__hdr {
  position: relative;
  z-index: 98;
}

.blockTitleWithBg_type2 {
  width: auto;
  display: inline-block;
  background-image: url(../img/form-back.9cd4dee3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 45px 0;
  color: #fff;
}

.blockTitleWithBg_type2:after {
  content: "";
  position: absolute;
  z-index: 101;
  background: url(../img/arrow-type2.faec34f7.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 70px;
  height: 70px;
  top: calc(50% + 30px);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: -25px;
}

.blockTitleWithBg_type2 .overlay {
  display: block;
  border-radius: 45px 0;
}

.blockTitleWithBg_type2 .blockTitle {
  padding: 8px 50px 11px;
}

.hero {
  position: relative;
}

.hero .blockTitle__hdr {
  font-family: Montserrat, sans-serif;
  font-size: 46px;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 15px;
}

.hero .blockTitle__txt {
  font-size: 22px;
  line-height: 1.4;
}

.hero__gifArrow {
  position: absolute;
  width: auto;
  height: 32px;
  margin-left: 8px;
}

.hero__gifArrow-type2 {
  margin-top: -3px;
}

.hero__video {
  background: #fff;
  border: 6px solid #fff;
  -webkit-box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}

.hero__video,
.hero__video video {
  display: block;
  width: 100%;
  height: auto;
}

.hero__video video {
  max-width: 100%;
  outline: none;
}

.hero_splitScreen .blockTitle {
  max-width: 700px;
}

.hero_splitScreen .hero__video {
  -webkit-box-shadow: unset;
  box-shadow: unset;
  border: none;
  max-height: 650px;
  overflow: hidden;
}

.howBlock {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  margin-bottom: 60px;
}

.howBlock__content {
  display: block;
  position: relative;
  z-index: 99;
  max-width: 535px;
}

.howBlock__content_left {
  margin-left: 30px;
}

.howBlock__hdr {
  font-size: 26px;
  font-weight: 700;
  line-height: 1.35;
  margin-bottom: 8px;
}

.howBlock__txt {
  line-height: 1.5;
}

.howBlock__img {
  height: auto;
  max-height: 320px;
  width: 100%;
  max-width: 543px;
  overflow: hidden;
}

.howBlock__img_fullH {
  max-height: 100%;
  overflow: visible;
}

.howBlock_type2 {
  background: #fff;
  -webkit-box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
}

.infoBlock {
  background-image: url("../img/usa-flag.jpg");
  background-repeat: no-repeat;
  background-size: auto 80%;
  -webkit-box-shadow: 0 10px 40px rgba(0, 0, 0, 0.08);
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.08);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.infoBlock__img {
  max-width: 260px;
  min-width: 260px;
  -webkit-filter: drop-shadow(0 14px 25px rgba(130, 193, 228, 0.38));
  filter: drop-shadow(0 14px 25px rgba(130, 193, 228, 0.38));
  padding: 40px 50px;
  margin: auto 20px;
}

.logoAcc {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.logoAcc__item {
  width: 100%;
  max-width: 11%;
  height: auto;
}

.logoAcc__item_lg {
  max-width: 16%;
}

.materials {
  width: 100%;
  height: auto;
}

.materials__item {
  width: 100%;
  height: auto;
  position: relative;
}

.materials__name {
  display: block;
  position: absolute;
  width: 80%;
  height: auto;
  background-color: #fff;
  border-radius: 2px;
  overflow: hidden;
  padding: 4px 2px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.3;
  bottom: -7%;
  left: 50%;
  -webkit-transform: translate(-50%, 7%);
  transform: translate(-50%, 7%);
  -webkit-box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.25);
  box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.25);
}

.objectionBlock__title {
  font-size: 26px;
  font-weight: 700;
  line-height: 1.35;
  margin-bottom: 8px;
  color: #383738;
}

.objectionBlock__titleNumb {
  color: #fff;
  position: relative;
  font-size: 20px;
  top: -3px;
  margin-right: 10px;
  z-index: 0;
}

.objectionBlock__titleNumb:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-42%, -50%);
  transform: translate(-42%, -50%);
  width: 42px;
  height: 35px;
  background-image: url("../img/number-pin.svg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.objectionBlock__card {
  overflow: hidden;
  position: relative;
}

.objectionBlock__card:before {
  content: "";
  position: absolute;
  top: -40px;
  right: 10%;
  width: 100%;
  height: 100%;
  -webkit-transform: rotate(15deg);
  transform: rotate(15deg);
  background: linear-gradient(170deg, hsla(0, 0%, 100%, 0) 80%, #fff);
  opacity: 0.1;
}

.objectionBlock__cardVideo {
  position: relative;
}

.objectionBlock__cardVideo:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 30px;
  width: 100%;
  background-image: url(../img/wave.7cc09b7b.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.objectionBlock__cardTxt {
  font-weight: 600;
  color: #383738;
  background: #fadba0;
}

.objectionBlock__userPic {
  width: 38px;
  vertical-align: sub;
}

.objectionBlock-brown .objectionBlock__titleNumb:before {
  background-image: url("../img/number-pin-brown.svg");
}

.paysOffBlock {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.paysOffBlock__img {
  position: relative;
  min-width: 206px;
  max-width: 206px;
  height: auto;
}

.paysOffBlock__img:after {
  content: "";
  display: block;
  width: 44px;
  height: 53px;
  background: url("../img/arrow-type3.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  bottom: 14px;
  right: 20px;
  position: absolute;
}

.review {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: relative;
  margin-bottom: 25px;
  background: #fff;
}

.review__ava {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 40px;
  -ms-flex: 0 0 40px;
  flex: 0 0 40px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}

.review__ava_null {
  -webkit-box-shadow: 0 0 0 1px #ddd;
  box-shadow: 0 0 0 1px #ddd;
}

.review__content {
  max-width: 100%;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-flex-shrink: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  -webkit-flex-basis: 0;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
}

.review__name {
  font-size: 13px;
  font-weight: 700;
  line-height: 1.3;
  color: #000;
  margin-bottom: 2px;
}

.review__comment {
  color: #222;
  font-size: 13px;
  width: 100%;
}

.review__ratingStars i {
  font-size: 13px;
  color: #e7711b;
}

.review__ratingStars i:before {
  margin: 0 -4px 0 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.review__img {
  position: relative;
  width: 93px;
  height: auto;
  cursor: pointer;
}

.review__img img {
  width: 100%;
  height: auto;
  max-width: 100%;
}

.reviewWrap {
  position: relative;
}

.reviewWrap:after {
  content: "";
  z-index: 999;
  position: absolute;
  bottom: 30px;
  left: 0;
  width: 100%;
  height: 100px;
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(#fff),
    to(hsla(0, 0%, 100%, 0))
  );
  background: linear-gradient(0deg, #fff, hsla(0, 0%, 100%, 0));
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.reviewWrap_type2:after {
  display: none;
}

.reviewWrap_type2 .review {
  -webkit-box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  padding: 15px;
  border-radius: 4px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.reviewWrap_type2 .review:hover {
  -webkit-box-shadow: 0 6px 25px rgba(0, 0, 0, 0.15);
  box-shadow: 0 6px 25px rgba(0, 0, 0, 0.15);
}

.reviewWrap_type2 .review__name {
  margin-bottom: -2px;
}
.reviewFull {
  overflow: hidden;
  transition: 1s all;
  height: 0;
}

.moreless {
  position: relative;
  bottom: 5px;
  z-index: 100;
  font-size: 1em;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  opacity: 1;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  color: #000 !important;
  text-decoration: none !important;
}

.moreless:hover {
  opacity: 0.8;
}

.moreless i {
  display: inline-block;
  font-size: 0.8em;
  margin-left: 2px;
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.recommend {
  color: #498700;
}

.recommend__icon {
  background: #498700;
  color: #fff;
  border-radius: 50%;
  line-height: 1.15;
  width: 1.15em;
  height: 1.15em;
  display: inline-block;
  padding-left: 0.3em;
  margin-right: 5px;
}

.section {
  position: relative;
  padding: 50px 0;
}

.tickerSlider {
  -webkit-box-shadow: 0 10px 40px rgba(0, 0, 0, 0.08);
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  width: 100%;
}

.tickerSlider__line {
  position: relative;
  top: 0;
  display: block;
  white-space: nowrap;
  left: 0;
  bottom: 0.5rem;
  background-size: auto 100%;
  background-position: 0 0;
  background-repeat: repeat-x;
  height: 190px;
  width: 4384px;
  -webkit-animation-name: sliderPhotos;
  animation-name: sliderPhotos;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-duration: 48s;
  animation-duration: 48s;
}

.tickerSlider__line {
  background-color: white;
}

@-webkit-keyframes sliderPhotos {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-2192px);
    transform: translateX(-2192px);
  }
}

@keyframes sliderPhotos {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-2192px);
    transform: translateX(-2192px);
  }
}

@supports (-moz-appearance: none) {
}

.modalInfoWrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 1010;
  overflow-y: auto;
  background: rgba(23, 30, 49, 0);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.modalInfoWrap .closeAnim {
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  opacity: 1;
}

.modalInfoWrap__padd {
  padding: 1.5rem 0.5rem;
  width: 100%;
}

.modalInfoBlock {
  position: relative;
}

.modalInfoBlock {
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 12px 25px rgba(35, 44, 59, 0.1);
  box-shadow: 0 12px 25px rgba(35, 44, 59, 0.1);
  max-width: 670px;
  margin: 0 auto;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.modalInfoBlock.active {
  opacity: 1;
}

.modalInfo__hdr {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.3;
}

.modalInfo__txt {
  font-size: 14px;
}

.modalInfo__txt_sm {
  font-size: 12px;
}

@media (max-width: 1199.98px) {
  .fs-xl-30 {
    font-size: 30px !important;
  }

  .inboundPhone .blockTitle__hdr {
    font-size: 26px;
  }

  .inboundPhone__img {
    width: 254px;
  }

  .blockList_tickYellow .blockList__item {
    font-size: 16px;
    padding: 6px 0 6px 22px;
  }

  .blockList_tickYellow .blockList__item:before {
    width: 16px;
  }

  .howBlock__img {
    height: 100%;
  }

  .howBlock_type2 {
    margin-bottom: 40px;
  }

  .howBlock_type2 .howBlock__content {
    max-width: 420px;
    padding: 15px 20px 20px 0;
  }

  .howBlock_type2 .howBlock__img {
    max-width: 472px;
  }
}

@media (max-width: 991.98px) {
  .fs-lg-36 {
    font-size: 36px !important;
  }

  .disable-bg-lg {
    background: unset !important;
  }

  .footer {
    padding: 15px 0;
  }

  .inboundPhone .blockTitle__hdr {
    font-size: 24px;
  }

  .inboundPhone__img {
    width: 230px;
  }

  .hero .blockTitle__hdr {
    font-size: 32px;
  }

  .hero_splitScreen .blockTitle {
    max-width: 100%;
  }

  .howBlock {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }

  .howBlock__content {
    max-width: 100%;
    padding: 15px;
  }

  .howBlock__content_left {
    margin: 0;
  }

  .howBlock__hdr {
    font-size: 24px;
  }

  .howBlock__img {
    max-width: 100%;
  }

  .howBlock_type2 {
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .howBlock_type2 .howBlock__content {
    max-width: 100%;
    padding: 15px;
  }

  .howBlock_type2 .howBlock__img {
    max-width: 100%;
  }

  .infoBlock {
    background-size: auto 55%;
    background-position: 0 -20%;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .infoBlock__img {
    padding: 30px 0 8px;
    margin: 0;
    max-width: 180px;
    min-width: 180px;
  }

  .logoAcc__item {
    max-width: 12.5%;
  }

  .logoAcc__item_lg {
    max-width: 20%;
  }

  .objectionBlock__title {
    font-size: 24px;
  }

  .objectionBlock__titleNumb {
    font-size: 18px;
    margin-right: 7px;
  }

  .objectionBlock__titleNumb:before {
    width: 36px;
    height: 30px;
  }

  .objectionBlock__card:before {
    top: -25px;
  }

  .paysOffBlock {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .paysOffBlock__img:after {
    -webkit-transform: scaleX(-1) rotate(90deg);
    transform: scaleX(-1) rotate(90deg);
    bottom: 16px;
    right: 25px;
  }

  .tickerSlider__line {
    height: 150px;
    width: 3390px;
  }
}

@media (max-width: 767.98px) {
  .fs-md-30 {
    font-size: 30px !important;
  }

  .shadowAndBorder {
    border: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
  }

  .header {
    padding: 12px 0;
  }

  .footer__item {
    padding: 0 12px;
  }

  .footer__item:last-child {
    padding: 0 10px;
  }

  .inboundPhone .blockTitle__hdr {
    max-width: 300px;
    font-size: 23px;
  }

  .inboundPhone__logo {
    max-width: 110px;
  }

  .hero .blockTitle__hdr {
    font-size: 30px;
  }

  .hero .blockTitle__txt {
    font-size: 20px;
  }

  .hero__gifArrow {
    height: 24px;
  }

  .infoBlock {
    background-size: auto 40%;
    background-position: 0 0;
  }

  .materials__name {
    font-size: 11px;
    width: 90%;
    bottom: -3px;
  }

  .section_pb-md {
    padding-bottom: 0 !important;
  }
}

@media (max-width: 575.98px) {
  .fs-sm-16 {
    font-size: 16px !important;
  }

  .fs-sm-26 {
    font-size: 26px !important;
  }

  body {
    font-size: 16px;
  }

  .header__logo {
    max-width: 120px;
  }

  .footer {
    padding: 12px 0 15px;
    font-size: 12px;
  }

  .header__logo_madcity {
    max-width: 140px;
  }

  .inboundPhone__bg {
    max-width: 220px;
  }

  .inboundPhone__img {
    width: 250px;
  }

  .blockList_tickYellow .blockList__item {
    font-size: 14px;
    padding: 6px 0 6px 20px;
  }

  .blockList_tickYellow .blockList__item:before {
    width: 14px;
  }

  .blockTitle__hdr {
    font-size: 26px;
  }

  .blockTitle__txt {
    font-size: 16px;
  }

  .blockTitleWithBg {
    display: block;
    left: -15px;
    background-image: url(../img/form-back.9cd4dee3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-right-radius: 60px;
  }

  .blockTitleWithBg:after {
    content: "";
    position: absolute;
    top: calc(50% + 30px);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    right: -25px;
    z-index: 101;
    background: url("../img/arrow-type2.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 70px;
    height: 70px;
  }

  .blockTitleWithBg .overlay {
    display: block;
    border-bottom-right-radius: 60px;
  }

  .blockTitleWithBg .blockTitle {
    padding: 8px 18px 11px;
  }

  .blockTitleWithBg .blockTitle__hdr {
    font-size: 28px;
    color: #fff;
  }

  .blockTitleWithBg_type2 {
    width: 100%;
  }

  .blockTitleWithBg_type2,
  .blockTitleWithBg_type2 .overlay {
    border-radius: 0 0 60px 0;
  }

  .blockTitleWithBg_type2 .blockTitle {
    padding: 8px 18px 11px;
  }

  .blockTitleWithBg_type2 .blockTitle__hdr {
    font-size: 26px;
  }

  .hero .blockTitle__hdr {
    font-size: 27px;
  }

  .hero .blockTitle__txt {
    font-size: 18px;
  }

  .hero__gifArrow {
    display: none;
  }

  .hero__gifArrow-type2 {
    display: inline-block;
    height: 20px;
    margin-top: 3px;
  }

  .hero__video {
    border: none;
  }

  .howBlock {
    margin-bottom: 20px;
  }

  .howBlock__content {
    background: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .howBlock__hdr {
    font-size: 22px;
  }

  .logoAcc__item {
    max-width: 25%;
  }

  .objectionBlock__title {
    font-size: 22px;
  }

  .objectionBlock__titleNumb {
    font-size: 16px;
  }

  .objectionBlock__titleNumb:before {
    width: 34px;
    height: 28.5px;
  }

  .section {
    padding: 40px 0;
  }

  .modalInfoBlock {
    padding: 15px;
  }
}

@media (max-width: 440.98px) {
  .fs-mbl-24 {
    font-size: 24px !important;
  }

  .blockTitleWithBg_type2 .blockTitle__hdr {
    font-size: 24px;
  }

  .howBlock__hdr {
    font-size: 20px;
  }

  .infoBlock {
    background-size: auto 33%;
  }

  .infoBlock__img {
    padding: 20px 0 5px;
  }

  .materials__name {
    width: 120%;
    padding: 2px;
    border-radius: 0;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.25);
  }

  .objectionBlock__title {
    font-size: 20px;
  }

  .objectionBlock__titleNumb {
    font-size: 14px;
  }

  .objectionBlock__titleNumb:before {
    width: 30px;
    height: 25px;
  }

  .paysOffBlock__img {
    min-width: 150px;
    max-width: 150px;
    height: auto;
  }

  .paysOffBlock__img:after {
    bottom: 7px;
    right: 2px;
  }

  .modalInfo__hdr {
    font-size: 16px;
  }

  .modalInfo__txt {
    font-size: 12px;
  }

  .modalInfo__txt_sm {
    font-size: 11px;
  }
}

@media (max-height: 440.98px) {
  .modalInfoWrap__padd {
    padding: 1rem 0.5rem;
  }
}

@media (max-width: 395.98px) {
  .blockList_tickYellow .blockList__item {
    padding: 6px 0 6px 14px;
  }

  .blockList_tickYellow .blockList__item:before {
    width: 12px;
    top: 7px;
  }

  .hero .blockTitle__hdr {
    font-size: 25px;
  }

  .hero .blockTitle__txt {
    font-size: 16px;
  }

  .materials__name {
    font-size: 10px;
    width: 125%;
  }
}

@media (max-width: 345.98px) {
  .fs-mbm-21 {
    font-size: 21px !important;
  }

  .footer__menu {
    display: block;
  }

  .footer__item {
    display: block;
    padding: 0 0 5px;
    text-align: center;
    width: 100%;
  }

  .footer__item:after {
    display: none;
  }

  .footer__item:last-child {
    padding: 0 !important;
  }

  .col-ios-full {
    -webkit-box-flex: 0 !important;
    -webkit-flex: 0 0 100% !important;
    -ms-flex: 0 0 100% !important;
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }

  .btn {
    min-width: 130px;
  }

  .blockTitleWithBg_type2 .blockTitle__hdr {
    font-size: 20px;
  }

  .hero .blockTitle__hdr {
    font-size: 26px;
  }

  .hero .blockTitle__txt {
    font-size: 14px;
  }

  .infoBlock {
    background-size: auto 28%;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }

  .row-cols-sm-4 > * {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-sm-4 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.33333333%;
    -ms-flex: 0 0 33.33333333%;
    flex: 0 0 33.33333333%;
    max-width: 33.33333333%;
  }

  .col-sm-5 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 41.66666667%;
    -ms-flex: 0 0 41.66666667%;
    flex: 0 0 41.66666667%;
    max-width: 41.66666667%;
  }

  .col-sm-6 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-sm-7 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 58.33333333%;
    -ms-flex: 0 0 58.33333333%;
    flex: 0 0 58.33333333%;
    max-width: 58.33333333%;
  }

  .order-sm-1 {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }

  .order-sm-2 {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
  }

  .d-sm-none {
    display: none !important;
  }

  .d-sm-block {
    display: block !important;
  }

  .mt-sm-0 {
    margin-top: 0 !important;
  }

  .mx-sm-0 {
    margin-right: 0 !important;
  }

  .mb-sm-0 {
    margin-bottom: 0 !important;
  }

  .mx-sm-0 {
    margin-left: 0 !important;
  }

  .mb-sm-4 {
    margin-bottom: 1.5rem !important;
  }

  .mt-sm-5 {
    margin-top: 3rem !important;
  }

  .mb-sm-5 {
    margin-bottom: 3rem !important;
  }

  .pt-sm-0,
  .py-sm-0 {
    padding-top: 0 !important;
  }

  .pb-sm-0,
  .py-sm-0 {
    padding-bottom: 0 !important;
  }

  .py-sm-2 {
    padding-top: 0.5rem !important;
  }

  .py-sm-2 {
    padding-bottom: 0.5rem !important;
  }

  .p-sm-3 {
    padding: 1rem !important;
  }

  .pb-sm-3 {
    padding-bottom: 1rem !important;
  }

  .text-sm-left {
    text-align: left !important;
  }

  .text-sm-center {
    text-align: center !important;
  }

  .inboundPhone__img {
    z-index: 1001;
  }
}

@media (min-width: 768px) {
  .container,
  .container-md {
    max-width: 720px;
  }

  .col-md-5 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 41.66666667%;
    -ms-flex: 0 0 41.66666667%;
    flex: 0 0 41.66666667%;
    max-width: 41.66666667%;
  }

  .col-md-6 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-md-7 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 58.33333333%;
    -ms-flex: 0 0 58.33333333%;
    flex: 0 0 58.33333333%;
    max-width: 58.33333333%;
  }

  .order-md-1 {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }

  .order-md-2 {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
  }

  .justify-content-md-end {
    -webkit-box-pack: end !important;
    -webkit-justify-content: flex-end !important;
    -ms-flex-pack: end !important;
    justify-content: flex-end !important;
  }

  .mt-md-0 {
    margin-top: 0 !important;
  }

  .mx-md-3 {
    margin-right: 1rem !important;
  }

  .mx-md-3 {
    margin-left: 1rem !important;
  }

  .mb-md-4 {
    margin-bottom: 1.5rem !important;
  }

  .p-md-3 {
    padding: 1rem !important;
  }

  .px-md-3 {
    padding-right: 1rem !important;
  }

  .px-md-3 {
    padding-left: 1rem !important;
  }

  .py-md-4 {
    padding-top: 1.5rem !important;
  }

  .pb-md-4,
  .py-md-4 {
    padding-bottom: 1.5rem !important;
  }

  .py-md-5 {
    padding-top: 3rem !important;
  }

  .py-md-5 {
    padding-bottom: 3rem !important;
  }

  .text-md-left {
    text-align: left !important;
  }
}

@media (min-width: 992px) {
  .container,
  .container-lg,
  .container-md {
    max-width: 960px;
  }

  .row-cols-lg-6 > * {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 16.6666666667%;
    -ms-flex: 0 0 16.6666666667%;
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .col-lg-3 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-lg-4 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.33333333%;
    -ms-flex: 0 0 33.33333333%;
    flex: 0 0 33.33333333%;
    max-width: 33.33333333%;
  }

  .col-lg-5 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 41.66666667%;
    -ms-flex: 0 0 41.66666667%;
    flex: 0 0 41.66666667%;
    max-width: 41.66666667%;
  }

  .col-lg-6 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-lg-7 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 58.33333333%;
    -ms-flex: 0 0 58.33333333%;
    flex: 0 0 58.33333333%;
    max-width: 58.33333333%;
  }

  .col-lg-9 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 75%;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-lg-10 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 83.33333333%;
    -ms-flex: 0 0 83.33333333%;
    flex: 0 0 83.33333333%;
    max-width: 83.33333333%;
  }

  .order-lg-1 {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }

  .order-lg-2 {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
  }

  .d-lg-none {
    display: none !important;
  }

  .d-lg-inline-block {
    display: inline-block !important;
  }

  .d-lg-block {
    display: block !important;
  }

  .m-lg-0 {
    margin: 0 !important;
  }

  .mr-lg-0,
  .mx-lg-0 {
    margin-right: 0 !important;
  }

  .mx-lg-0 {
    margin-left: 0 !important;
  }

  .mr-lg-3 {
    margin-right: 1rem !important;
  }

  .mb-lg-3 {
    margin-bottom: 1rem !important;
  }

  .my-lg-4 {
    margin-top: 1.5rem !important;
  }

  .mb-lg-4,
  .my-lg-4 {
    margin-bottom: 1.5rem !important;
  }

  .ml-lg-5 {
    margin-left: 3rem !important;
  }

  .py-lg-0 {
    padding-top: 0 !important;
  }

  .py-lg-0 {
    padding-bottom: 0 !important;
  }

  .px-lg-3 {
    padding-right: 1rem !important;
  }

  .px-lg-3 {
    padding-left: 1rem !important;
  }

  .pr-lg-4,
  .px-lg-4 {
    padding-right: 1.5rem !important;
  }

  .pl-lg-4,
  .px-lg-4 {
    padding-left: 1.5rem !important;
  }

  .pt-lg-5 {
    padding-top: 3rem !important;
  }

  .px-lg-5 {
    padding-right: 3rem !important;
  }

  .pb-lg-5 {
    padding-bottom: 3rem !important;
  }

  .px-lg-5 {
    padding-left: 3rem !important;
  }

  .mb-lg-n4 {
    margin-bottom: -1.5rem !important;
  }

  .infoBlock__img .logoAcc__img {
    border: 3px solid #fff;
  }
}

@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md {
    max-width: 1140px;
  }

  .py-xl-4 {
    padding-top: 1.5rem !important;
  }

  .py-xl-4 {
    padding-bottom: 1.5rem !important;
  }
}

@media (min-width: 1400px) {
  .container_big {
    max-width: 1320px;
  }
}
